<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTELES_AXEDA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div id="CONTENEDOR_MAIN">


        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
              <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">HOTELES AXEDA</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                  <a class="mdl-navigation__link" style="cursor: pointer;" @click="mostrar_modal">RESERVAR</a>
                  <a class="mdl-navigation__link" href="">SALIR</a>
                </nav>
              </div>
            </header>

            <main class="mdl-layout__content">
              <div class="page-content"> 

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col"  style="display: flex;justify-content: center;align-items: center;">
                            <sedes v-for="_sede in sedes"
                                :sede=_sede></sedes>
                    </div>
                  </div>
                
            </div>


            <div class="mdl-dialog" id="modal-example" v-if="mostrarmodal===true">
                <div class="mdl-dialog__content">
                    <h4><strong>Reserva</strong> </h4>
                    <p>Complete los siguientes datos</p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">hotel</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">cantidad de personas</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">noches</label>
                      </div>
                </div>
                <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                    <button type="button" class="mdl-button">RESERVAR</button>
                </div>
            </div>
            </main>
          </div>




    </div>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="js/bundle.js"></script>
</footer>
</html>